<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Канальная_трассировка_СБИС.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Канальная_трассировка_СБИС.Properties.Settings.kanalConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Vladimir\Documents\kanal.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Канальная_трассировка_СБИС.Properties.Settings>
            <setting name="alg_trassir" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="R_pop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="C_gen" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Otbor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Crossing" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Mutac" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="P_Crossing" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="P_Mutac" serializeAs="String">
                <value>30</value>
            </setting>
        </Канальная_трассировка_СБИС.Properties.Settings>
    </userSettings>
</configuration>